[project]
	description = Android user space tools and libraries that enable ecryptfs functionality
[access "refs/*"]
	owner = group user/Razvan-Costin Ionescu (razvanionescu)
[access "refs/for/refs/*"]
	read = group user/Razvan-Costin Ionescu (razvanionescu)
	push = group user/Razvan-Costin Ionescu (razvanionescu)
	label-Code-Review = -2..+2 group user/Razvan-Costin Ionescu (razvanionescu)
	label-Verified = -1..+1 group user/Razvan-Costin Ionescu (razvanionescu)
	rebase = group user/Razvan-Costin Ionescu (razvanionescu)
	removeReviewer = group user/Razvan-Costin Ionescu (razvanionescu)
	submit = group user/Razvan-Costin Ionescu (razvanionescu)
[access "refs/heads/*"]
	read = group user/Razvan-Costin Ionescu (razvanionescu)
	create = group user/Razvan-Costin Ionescu (razvanionescu)
	push = +force group user/Razvan-Costin Ionescu (razvanionescu)
	pushMerge = group user/Razvan-Costin Ionescu (razvanionescu)
[access "refs/tags/*"]
	push = +force group user/Razvan-Costin Ionescu (razvanionescu)
	pushTag = group user/Razvan-Costin Ionescu (razvanionescu)
	pushSignedTag = group user/Razvan-Costin Ionescu (razvanionescu)
